<div class="footer">
<div class="main_container_footer container-max">
  <div class="row">
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
    <div class="col">col</div>
  </div>
<div>
    <!-- Insert footer markup here -->
    <p>hier entsteht der neue Sadingo footer</p>

</div>
