<div class="footer">
  <div class="main_container_footer container-max">
    <div class="row">
      <div class="col-md-3">
        <h3>Sadingo Infos</h3>
        <ul>
          <li><a href="https://www.sadingo.de/webshop/kontakt/">Kontakt</a></li>
          <li><a href="https://www.sadingo.de/webshop/datenschutz/">Datenschutzerklärung</a></li>
          <li><a href="https://www.sadingo.de/webshop/agb/">AGB</a></li>
          <li><a href="https://www.sadingo.de/webshop/impressum/">Impressum</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Social Media</h3>
        <ul>
          <li><a href="https://www.facebook.com/sadingoShopping"><img src="https://www.sadingo.de/images/gallery/Template Vorlagen/default_facebook.png" alt="Sadingo Facebook" height="40" width="40"></a></li>
          <li><a href="https://www.instagram.com/sadingoshopping/"><img src="https://www.sadingo.de/images/gallery/Template Vorlagen/default_instagram.png" alt="Sadingo Instagram" height="40" width="40"></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Unser Blog</h3>
        <ul>
          <li><a href="http://blog.sadingo.de/">Blog</a></li>
          <li><a href="http://blog.sadingo.de/bastelvideos/">Bastelvideos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Einkauf</h3>
        <ul>
          <li><a href="https://www.sadingo.de/webshop/zahlungsarten/">Zahlungsarten</a></li>
          <li><a href="https://www.sadingo.de/webshop/versandinformationen/">Versandarten & -kosten</a></li>
          <li><a href="https://www.sadingo.de/webshop/widerrufsrecht/">Widerrufsrecht</a></li>
          <li><a href="https://www.sadingo.de/webshop/hilfe/">Hilfe</a></li>
        </ul>
      </div>
    </div>
  <div>
</div>
