<div class="footer">
  <div class="main_container_footer container-max">
    <div class="row">
      <div class="col-md-3">
        <h4>Sadingo Infos</h4>
        </br>
        <ul>
          <li><a href="https://www.sadingo.de/kontakt/">Kontakt</a></li>
          <li><a href="https://www.sadingo.de/datenschutz/">Datenschutzerklärung</a></li>
          <li><a href="https://www.sadingo.de/agb/">AGB</a></li>
          <li><a href="https://www.sadingo.de/impressum/">Impressum</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Social Media</h4>
        </br>
        <ul class:"footer_social">
          <li><a href="https://www.facebook.com/sadingoShopping"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a></li>
          <li><a href="https://www.instagram.com/sadingoshopping/"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Unser Blog</h4>
        </br>
        <ul>
          <li><a href="http://blog.sadingo.de/">Blog</a></li>
          <li><a href="http://blog.sadingo.de/bastelvideos/">Bastelvideos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Einkauf</h4>
        </br>
        <ul>
          <li><a href="https://www.sadingo.de/zahlungsarten/">Zahlungsarten</a></li>
          <li><a href="https://www.sadingo.de/versandinformationen/">Versandarten & -kosten</a></li>
          <li><a href="https://www.sadingo.de/widerrufsrecht/">Widerrufsrecht</a></li>
          <li><a href="https://www.sadingo.de/hilfe/">Hilfe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright-bar"> © Copyright 2017 Sadingo. Alle Rechte vorbehalten. </div>
</div>
