<div class="footer">

    <!-- Insert footer markup here -->
    <p>hier entsteht der neue Sadingo footer</p>
    <div class="row">
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
</div>
