/***** Footer *****/
.footer {
   background-color: #fd98bb;
}
  .footer a {
   color: #fff !important;
  }
.footer-column {
  color: #fff !important;
}
.main_container_footer {
  padding: 25px 15px 25px 15px;
  color: #fff;
}
  .main_container_footer ul {
    list-style: none;
    padding: 0;
  }
.copyright-bar {
  font-size: 10px;
  text-align: center;
  padding-bottom: 15px;
}
