/*****Slider*****/
.main_container_slider {
  padding: 0 !important;
  margin-top: -14px;
}
.carousel-inner {
  /*height: 300px;*/
}
/*****Container*****/
.main_pagecontent {
  margin-top: 25px;
}
/*****Sale*****/
.homepage_sale-row {
  height: 50px;
  background-color: #FD98BB;
  text-align: center;
}
  .homepage_sale-row a {
    font-size: 34px;
    color: #FFF !important;
    font-weight: bold;
  }
  /*****Rows*****/
.homepage_row {
  margin-top: 25px;
}
/*****Cards*****/
.homepage_card {
    width: 100% !important;
}
.homepage_card-block {

}
.homepage_card_img {
  height: 348px;
  width: 100%;
  background-color: #e878aa;
}
