/*****Startseite Slider*****/
.main_container_slider{
  padding: 0 !important;
  margin-top: -14px;
}
.carousel-inner{
  /*height: 300px;*/
}
/*****Startseite Container*****/
.main_pagecontent{
  margin-top: 25px;
}

/*****Startseite Cards*****/
.homepage_card{

}
.homepage_card-block{

}
.homepage_card_img{
  height: 278px;
  background-color: #e878aa;
}
