/********** CeresSadingo Design **********/
body {
  background-color: #F4F4F4;
  /*<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">*/
  font-family: 'Muli', sans-serif !important;
}
a {
  color: #e878aa !important;
}
/*Text größe Artikelübersicht Breadcrumb*/
.basket-preview .totals, .btn-labeled, .small, small {
  font-size: 100% !important;
}
/***** Userbar (oben) *****/
.controls-list a {
  color: #fff !important;
}
.top-bar {
  background-color: rgb(51, 51, 51);
}
.top-bar .controls-list .control-basket .toggle-basket-preview {
  background: #FD98BB !important;
  border-bottom: solid 1px;
  padding-bottom: 6px;
}
.controls-list a:hover {
  background: rgb(51, 51, 51) !important;
}
.control-user {
  border-left: 1px solid;
  border-right: 1px solid;
}
.control-user a:first-child {
  margin-right: -3px;
  border-right: 1px solid;
}
.control-user .pipe {
  display: none;
}
/***** Menü (oben) *****/
#mainNavbarCollapsable ul.mainmenu > li  {
  position: static !important;
}
#mainNavbarCollapsable ul.mainmenu > li > ul > li {
  display: block;
  width: 33.3333%;
  text-align: left;
  float: left;
}
/***** Menü Leiste (oben) *****/
.wrapper-main>nav.container-max {
  background-color: #fff !important;
}
.breadcrumb a {
  color: #e878aa !important;
}
.navbar {
  background-color: #FF80AB !important;
}
/*Dropdown Kategorien*/
#mainNavbarCollapsable ul.mainmenu>li>ul {
  background: #FD98BB !important;
  padding: 25px;
}
  #mainNavbarCollapsable ul.mainmenu>li>ul>li:hover {
  background: #FD98BB !important;
  text-decoration: underline;
  }
  #mainNavbarCollapsable ul.mainmenu>li:hover {
    background: #FD98BB !important;
  }

/*Links der Menü Leiste*/
.wrapper-main .navbar{
  font-family: 'Muli', sans-serif !important;
}

.wrapper-main .navbar a {
  color: #fff !important;
}
/*Farbe der Menü fenster*/
.wrapper-main .navbar .navbar-nav .nav-item:hover .dropdown-menu .dropdown-item {
    color: #000 !important;
}
.wrapper-main .navbar .navbar-nav .nav-item>.nav-link {
    border: none !important;
}
/***** Warenkorb *****/
/*Name des Produktes*/


/***** Button *****/
/*ausgefüllter Button*/
.btn-primary {
  color: #fff !important;
  background-color: #FF80AB;
  border-color: #FF80AB;
}
  .btn-primary:hover {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
  .btn-primary:active:hover {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
  .btn-primary:focus {
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
/*Nicht ausgefüllter Button*/
.btn-outline-primary {
  color: #FF80AB;
  border-color: #FF80AB;
}
  .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #FF80AB;
    border-color: #FF80AB;
  }
.btn-outline-primary:active:hover, .btn-outline-primary:focus{
    background-color: #FF80AB;
    border-color: #FF80AB;
}
/*Suche Button*/
.cmp-search-box .search-submit {
  color: #FF80AB !important;
}
/***** Content *****/
.page-content {
  background: #fff;
  padding: 20px;
}
/*Abstand nach oben*/
.wrapper-main #page-body{
  margin-top: 100px;
}
/*Filter oben*/
.list-controls .list-controls-inner {
  background: #F4F4F4;
}
/*Artikel*/
/*Seiten navbar (unten)*/
.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
  background-color: #FD98BB;
  border-color: #FD98BB;
  color: #fff !important;
}
/*****Artikelseite*****/
/*Sofort versandfertig,Lieferzeit 2-3Tage*/
.availability_1, .availability_2{
  background-color: #00c174;
}

/***** Mobile *****/
.navbar-toggler{
  color: #fff;
}
@media (max-width: 992px){
#mainNavbarCollapsable{
  background-color: #fff;
}
  #mainNavbarCollapsable a{
    color: #e878aa !important;
  }
    #mainNavbarCollapsable a:hover{
      color: #fff !important;
    }
}
